body {
  margin: 10px; 
  font-family: 'Raleway', sans-serif;
  font-family: 'Nunito', sans-serif;
}

hr {
  margin: 30px 0; 
}

label {
  min-width: 150px;
  display: inline-block;
}

input {
  width: 44px;
  font-size: 14px;
  padding: 4px;
  text-align: center;
}

.field {
  margin: 7px 4px;
}

button {
  border-radius: 50px;
  border-color: #494949;
  text-transform: uppercase;
  font-weight: 600;
  background: #ffffff;
  padding: 10px 23px;
  margin: 17px 24px 0 0;
  cursor: pointer;
}

button:hover {
  transform: scale(1.03);
  border-radius: 0;
}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 97px); 
  column-gap: 30px;
  row-gap: 30px;
  grid-auto-flow: row;
  justify-content: space-evenly;
}

.box {
  box-shadow: 7px 8px 9px 3px rgba(143,143,143,0.45);
  flex: 1 1 85px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box:hover {
  box-shadow: none;
}

.both {
  color: white; 
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.none {
  background-color: white;
}

.fizz {
  background: linear-gradient(0deg, rgba(34,193,195,0.01) 0%, rgba(34,193,195,1) 100%);
  font-weight: 600;
}

.buzz {
  background: linear-gradient(0deg, rgba(253,187,45,0.01) 0%, rgba(253,187,45,1) 100%);;
  font-weight: 600;
}